@{
    Layout = null;
    Demo.Models.Information data = (Demo.Models.Information)ViewData["data"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>编辑数据</title>

    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#edit').click(function () {
                var data = $('#data').val();
                $.post("/Data/Edit", { id: $('#id').val(), data:data }, function (result) {
                    if (result == 1) {
                        alert("修改成功");
                        window.location.href = "/Data/Index"
                    } else {
                        alert("修改失败")
                    }
                })
            })
        });
    </script>
</head>
<body>
    <h1>编辑数据</h1>
    <input id="id" value="@ViewBag.id" type="hidden" />
    <div>
        <table>
            <tr>
                <td>原数据</td>
                <td>
                    @data.data
                </td>
            </tr>
            <tr>
                <td>新数据</td>
                <td>
                    <input id="data" type="text" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="edit" type="button" value="修改" />
                </td>
                <td>
                    @Html.ActionLink("回到列表", "Index")
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
